.icon-container{
    display: inline-block;
    width: 140px;
    height: 140px;
    background: #f3bdaa;
    border-radius: 30px;
    position: relative;
}

.icon-container .material-icons{
    display: block;
    font-size: 85px;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
}

.img-box-round{
    border: 1px solid black;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
}

.img-box-label:before{
    content: '';
    display: block;
    width: 50%;
    height: 60px;
    border-right: 2px solid rgb(123, 53, 45);
    background: transparent;
    margin-bottom: 10px;
}

.car-home{
    border: 2px solid black;;
}

.car-home:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: ease .5s, all;
}
